@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300&display=swap');

.card{
    width: 50rem;
    position: relative;
    top: 13rem;
    margin: auto;
    display: flex;
    flex-direction: column; 
}
  
.advices{
    font-family: 'Montserrat', sans-serif;
    height: 5rem;
    text-align: center;
}

.btn-wrapper{
  text-align: center;
}

.btn{
  width: 8rem;
  padding: 1rem 1rem;
  margin: 1rem 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #97897e;
  border: .2rem solid #706d6b;
  cursor: pointer;
  box-shadow: 0 1.5rem 6rem rgba(0,0,0,.2);
  transition: all .2s;
}

.btn:hover{
  color: #ddd;
  background-color: #978d83;
}

  